Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
python-dotenv
langchain-google-genai
langchain
transformers
torch
sentencepiece
Flask-Cors

scikit-learn
scikit-surprise
flask-socketio
chromadb
sentence-transformers
langchain-community
langchain-core
protobuf
